---
let currentYear: number = new Date().getFullYear();
---

<footer class="h-16 flex justify-center items-center px-4">
  <p class="text-xs sm:text-base">© Engin Karakurt - {currentYear}</p>
</footer>
