---
import { Image } from "astro:assets";
import githubImage from "@images/github.svg";
---

<section
  id="hero"
  class="h-[calc(100svh)] flex flex-col justify-center items-center gap-16"
>
  <div
    class="flex flex-col justify-center items-center gap-1 mt-28 backdrop-blur-sm p-8 rounded-lg mx-2"
  >
    <h1 class="text-center text-2xl sm:text-4xl font-extrabold drop-shadow-2xl">
      Hey! I'm Engin Karakurt.
    </h1>
    <p class="text-center drop-shadow-2xl">
      Full Stack Software developer
    </p>
  </div>

  <a
    href="https://github.com/engin-karakurt"
    class="flex items-center gap-4 p-4 border-2 shadow-lg border-gray-700/40 hover:bg-black/5 duration-150 ease-linear rounded-full"
  >
    <Image
      loading={"eager"}
      draggable="false"
      width={32}
      height={32}
      alt=""
      class="invert size-8"
      src={githubImage}
    />
    My GitHub
  </a>
</section>