---
import AboutMe from "@components/sections/AboutMe.astro";
import Footer from "@components/sections/Footer.astro";
import Hero from "@components/sections/Hero.astro";
import Navbar from "@components/sections/Navbar.astro";
import MyWork from "@components/sections/MyWork.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Engin Karakurt">
  <Navbar />
  <main>
    <Hero />
    <AboutMe />
    <MyWork />
  </main>
  <Footer />
</Layout>
