---
import AboutMe from "@components/AboutMe.astro";
import Contact from "@components/Contact.astro";
import Footer from "@components/Footer.astro";
import Hero from "@components/Hero.astro";
import Navbar from "@components/Navbar.astro";
import MyWork from "@components/MyWork.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Engin Karakurt">
  <Navbar />
  <main>
    <Hero />
    <AboutMe />
    <MyWork />
    <Contact />
  </main>
  <Footer />
</Layout>
