---
import Image from "astro/components/Image.astro";

interface Props {
  imgSrc?: ImageMetadata;
  title: string;
  body: string;
}

export interface CardType {
  imgSrc?: ImageMetadata;
  title: string;
  body: string;
}

const { imgSrc, title, body } = Astro.props;
---

<li
  class="flex flex-col min-h-72 min-w-52 w-fit p-4 justify-center items-center gap-8 rounded-lg bg-gray-50/5 backdrop-blur-lg shadow-xl"
>
  {
    imgSrc ? (
      <div class="flex flex-row justify-center items-center gap-2">
        <Image
          loading={"lazy"}
          class="invert"
          width={24}
          height={24}
          src={imgSrc}
          alt={""}
          draggable="false"
        />
        <h3 class="lg:text-xl">{title}</h3>
      </div>
    ) : (
      <h3 class="text-xl">{title}</h3>
    )
  }
  <p class="max-w-52 text-balance text-center">
    {body}
  </p>
</li>
