<form
  class="m-auto min-w-fit w-full max-w-xs flex flex-col justify-center items-center gap-8"
  action="https://formsubmit.co/b958481bea5dc4fda5dbe94e899f3a0c"
  method="POST"
>
  <label class="w-full flex flex-col gap-1">
    Your name
    <input
      type="text"
      name="name"
      class="w-full bg-gray-950 border-2 border-gray-700 p-4 rounded-2xl"
      required
    />
  </label>
  <label class="w-full flex flex-col gap-1">
    Your email
    <input
      type="email"
      name="email"
      class="w-full bg-gray-950 border-2 border-gray-700 p-4 rounded-2xl"
      required
    />
  </label>
  <label class="w-full flex flex-col gap-1">
    Your request
    <textarea
      name="message"
      class="w-full bg-gray-950 border-2 border-gray-700 p-4 rounded-2xl"
      required></textarea>
  </label>
  <button
    type="submit"
    class="w-full p-2 rounded-full border-2 border-gray-700"
  >
    Send
  </button>
</form>
