<form
  class="m-auto min-w-fit w-full max-w-xs flex flex-col justify-center items-center gap-8 backdrop-blur-lg shadow-xl bg-gray-50/5 p-8 rounded-lg"
  action="https://formsubmit.co/b958481bea5dc4fda5dbe94e899f3a0c"
  method="POST"
  onsubmit="handleSubmit(event)"
>
  <label class="w-full flex flex-col gap-1 text-lg">
    Your name
    <input
      type="text"
      name="name"
      class="w-full bg-gray-50/5 backdrop-blur-lg shadow-xl p-4 rounded-2xl text-base"
      required
    />
  </label>
  <label class="w-full flex flex-col gap-1 text-lg">
    Your email
    <input
      type="email"
      name="email"
      class="w-full bg-gray-50/5 backdrop-blur-lg shadow-xl p-4 rounded-2xl text-base"
      required
    />
  </label>
  <label class="w-full flex flex-col gap-1 text-lg">
    Your request
    <textarea
      name="message"
      class="w-full bg-gray-50/5 backdrop-blur-lg shadow-xl p-4 rounded-2xl text-base"
      required></textarea>
  </label>
  <button
    id="submit-button"
    type="submit"
    class="flex flex-row justify-center items-center gap-2 w-full p-2 rounded-full border-2 shadow-lg border-gray-700/40 hover:bg-black/5 duration-150 ease-linear"
  >
    Send
    <div
      id="loading-spinner"
      class="hidden h-4 w-4 animate-spin rounded-full border-4 border-solid border-current border-e-transparent align-[-0.125em] text-surface motion-reduce:animate-[spin_1.5s_linear_infinite] dark:text-white"
      role="status"
    >
      <span
        class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
        >Loading...</span
      >
    </div>
  </button>
</form>

<script>
  let isLoading = false;

  const handleSubmit = async (event: any) => {
    event.preventDefault();
    isLoading = true;
    // Perform the form submission here
    // After submission, set isLoading back to false
    isLoading = false;
  };

  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form")!;
    const loadingSpinner = document.getElementById("loading-spinner");
    const submitButton = document.getElementById("submit-button");

    form.onsubmit = async (event) => {
      event.preventDefault();
      isLoading = true;
      submitButton?.setAttribute("disabled", "");
      loadingSpinner?.classList.add("inline-block");
      loadingSpinner?.classList.remove("hidden"); // Show the spinner
      // Simulate form submission delay
      await new Promise((resolve) => setTimeout(resolve, 2000));
      isLoading = false; // Hide the spinner after submission
      form.submit(); // Submit the form manually if needed
    };
  });
</script>
