---
import menuImage from "@images/menu.svg";
---

<header
  id="navbar"
  class="w-[calc(100%-2rem)] fixed top-0 left-0 z-50 bg-gray-50/5 backdrop-blur-xl shadow-xl rounded-full m-4"
>
  <div class="h-20 flex justify-between items-center px-8">
    <a href="#top" class="text-xl">Engin Karakurt</a>
    <nav id="nav" class="flex items-center">
      <button aria-label="Open Menu" id="nav-mobile-button">
        <img
          id="nav-mobile-button-img"
          loading={"eager"}
          width={24}
          height={24}
          class="sm:hidden invert"
          src={menuImage.src}
          alt="Menu"
          draggable="false"
        />
      </button>
    </nav>
    <ul
      id="nav-menu"
      class="hidden z-50 sm:flex sm:flex-row items-center w-[calc(100%-4rem)] sm:w-auto mx-8 sm:mx-0 text-center fixed sm:static flex-col top-32 left-0 gap-8 p-4 bg-gradient-to-r from-[#4e3e41] via-[#ac450a] to-[#55220c] sm:bg-none sm:bg-transparent sm:shadow-none shadow-xl rounded-lg"
    >
      <li>
        <a id="about-me-link" href="#about-me" class="text-xl link-underline"
          >About Me</a
        >
      </li>
      <li>
        <a id="my-work-link" href="#my-work" class="text-xl link-underline"
          >My Work</a
        >
      </li>
      <li>
        <a id="contact-link" href="#contact" class="text-xl link-underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</header>

<script>
  import menuImage from "@images/menu.svg";
  import closeImage from "@images/x.svg";

  document.getElementById("about-me-link")?.addEventListener("click", () => {
    document.getElementById("about-me-section")?.scrollIntoView();
    closeMenuOnClick();
  });
  document.getElementById("my-work-link")?.addEventListener("click", () => {
    document.getElementById("my-work-section")?.scrollIntoView();
    closeMenuOnClick();
  });
  document.getElementById("contact-link")?.addEventListener("click", () => {
    document.getElementById("contact-section")?.scrollIntoView();
    closeMenuOnClick();
  });

  document
    .getElementById("nav-mobile-button")
    ?.addEventListener("click", () => {
      if (
        document
          .getElementById("nav-mobile-button-img")
          ?.getAttribute("src") === menuImage.src
      ) {
        document
          .getElementById("nav-mobile-button-img")
          ?.setAttribute("src", closeImage.src);
        document
          .getElementById("nav-mobile-button-img")
          ?.setAttribute("alt", "Close");
        document
          .getElementById("nav-mobile-button")
          ?.setAttribute("aria-label", "Close Menu");
      } else {
        document
          .getElementById("nav-mobile-button-img")
          ?.setAttribute("src", menuImage.src);
        document
          .getElementById("nav-mobile-button-img")
          ?.setAttribute("alt", "Menu");
        document
          .getElementById("nav-mobile-button")
          ?.setAttribute("aria-label", "Open Menu");
      }

      document.getElementById("nav-menu")?.classList.toggle("hidden");
      document.getElementById("nav-menu")?.classList.toggle("flex");
    });

  function closeMenuOnClick() {
    if (
      document.getElementById("nav-mobile-button-img")?.getAttribute("src") ===
      closeImage.src
    ) {
      document
        .getElementById("nav-mobile-button-img")
        ?.setAttribute("src", menuImage.src);
      document
        .getElementById("nav-mobile-button-img")
        ?.setAttribute("alt", "Menu");
      document
        .getElementById("nav-mobile-button")
        ?.setAttribute("aria-label", "Open Menu");
      document.getElementById("nav-menu")?.classList.toggle("hidden");
      document.getElementById("nav-menu")?.classList.toggle("flex");
    }
  }
</script>

<style>
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#fff, #fff);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%;
  }
</style>
